<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arr_left_active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{3711,331},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_left_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{3711,374},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_right_active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{3711,245},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_right_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{3711,288},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_char_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,181}</string>
                <key>spriteSourceSize</key>
                <string>{151,181}</string>
                <key>textureRect</key>
                <string>{{500,421},{151,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_char_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,181}</string>
                <key>spriteSourceSize</key>
                <string>{186,181}</string>
                <key>textureRect</key>
                <string>{{2594,385},{186,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_char_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,177}</string>
                <key>spriteSourceSize</key>
                <string>{174,177}</string>
                <key>textureRect</key>
                <string>{{2968,385},{174,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_char_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,184}</string>
                <key>spriteSourceSize</key>
                <string>{182,184}</string>
                <key>textureRect</key>
                <string>{{2782,385},{182,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_line1_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{3469,1},{497,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_line2_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{892,222},{497,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_line3_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{1,333},{497,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_panel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2391,219}</string>
                <key>spriteSourceSize</key>
                <string>{2391,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{2391,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_autobet</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,85}</string>
                <key>spriteSourceSize</key>
                <string>{242,85}</string>
                <key>textureRect</key>
                <string>{{3711,1},{242,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_bank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{745,333},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_clear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{500,333},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_confirm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{888,464},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{1133,464},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_player</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{3296,385},{140,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_remove</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{2349,385},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{3147,385},{146,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>low_panel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{889,109}</string>
                <key>spriteSourceSize</key>
                <string>{889,109}</string>
                <key>textureRect</key>
                <string>{{1,222},{889,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reel_frame</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1073,382}</string>
                <key>spriteSourceSize</key>
                <string>{1073,382}</string>
                <key>textureRect</key>
                <string>{{2394,1},{1073,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,352}</string>
                <key>spriteSourceSize</key>
                <string>{477,352}</string>
                <key>textureRect</key>
                <string>{{1391,222},{477,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,352}</string>
                <key>spriteSourceSize</key>
                <string>{477,352}</string>
                <key>textureRect</key>
                <string>{{1870,222},{477,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameElements.png</string>
            <key>size</key>
            <string>{3797,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f657709e23e3123d4408eed6d74fb45:6012dd9936d614cbd7430c87d82cf427:6da0fac59ce53048721971d1cfdb6dc1$</string>
            <key>textureFileName</key>
            <string>gameElements.png</string>
        </dict>
    </dict>
</plist>
