<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arr_left_active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{2250,467},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_left_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{3372,385},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_right_active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{892,222},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_right_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{2338,222},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_char_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,181}</string>
                <key>spriteSourceSize</key>
                <string>{151,181}</string>
                <key>textureRect</key>
                <string>{{3189,385},{151,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_char_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,181}</string>
                <key>spriteSourceSize</key>
                <string>{186,181}</string>
                <key>textureRect</key>
                <string>{{3741,355},{186,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_char_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,177}</string>
                <key>spriteSourceSize</key>
                <string>{174,177}</string>
                <key>textureRect</key>
                <string>{{3013,385},{174,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_char_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,184}</string>
                <key>spriteSourceSize</key>
                <string>{182,184}</string>
                <key>textureRect</key>
                <string>{{2827,385},{182,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_line1_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{1,333},{497,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_line2_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{500,333},{497,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_line3_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{1478,222},{497,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_panel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2391,219}</string>
                <key>spriteSourceSize</key>
                <string>{2391,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{2391,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_autobet</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,85}</string>
                <key>spriteSourceSize</key>
                <string>{242,85}</string>
                <key>textureRect</key>
                <string>{{2583,385},{242,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{3948,1},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_clear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{2250,222},{243,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_confirm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{1478,464},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{1723,464},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_player</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{3948,144},{140,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_remove</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{2338,385},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{3929,355},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,172}</string>
                <key>spriteSourceSize</key>
                <string>{271,172}</string>
                <key>textureRect</key>
                <string>{{1977,222},{271,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_pink</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,172}</string>
                <key>spriteSourceSize</key>
                <string>{271,172}</string>
                <key>textureRect</key>
                <string>{{1977,396},{271,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,172}</string>
                <key>spriteSourceSize</key>
                <string>{270,172}</string>
                <key>textureRect</key>
                <string>{{3469,355},{270,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>low_panel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{889,109}</string>
                <key>spriteSourceSize</key>
                <string>{889,109}</string>
                <key>textureRect</key>
                <string>{{1,222},{889,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reel_frame</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1073,382}</string>
                <key>spriteSourceSize</key>
                <string>{1073,382}</string>
                <key>textureRect</key>
                <string>{{2394,1},{1073,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,352}</string>
                <key>spriteSourceSize</key>
                <string>{477,352}</string>
                <key>textureRect</key>
                <string>{{3469,1},{477,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,352}</string>
                <key>spriteSourceSize</key>
                <string>{477,352}</string>
                <key>textureRect</key>
                <string>{{999,222},{477,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameElements.png</string>
            <key>size</key>
            <string>{4090,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c27de728a3e94fe7396f9bb1ace403e0:61d0f27213ed89520847659a6489d8f9:6da0fac59ce53048721971d1cfdb6dc1$</string>
            <key>textureFileName</key>
            <string>gameElements.png</string>
        </dict>
    </dict>
</plist>
