<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arr_left_active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{2321,308},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_left_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{2321,351},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_right_active</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{2321,222},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arr_right_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,41}</string>
                <key>spriteSourceSize</key>
                <string>{33,41}</string>
                <key>textureRect</key>
                <string>{{2321,265},{33,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_char_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,181}</string>
                <key>spriteSourceSize</key>
                <string>{151,181}</string>
                <key>textureRect</key>
                <string>{{1957,405},{151,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_char_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,181}</string>
                <key>spriteSourceSize</key>
                <string>{186,181}</string>
                <key>textureRect</key>
                <string>{{1957,222},{186,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_char_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,177}</string>
                <key>spriteSourceSize</key>
                <string>{174,177}</string>
                <key>textureRect</key>
                <string>{{2541,385},{174,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_char_4</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,184}</string>
                <key>spriteSourceSize</key>
                <string>{182,184}</string>
                <key>textureRect</key>
                <string>{{2355,385},{182,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_line1_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{3469,1},{497,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bet_line2_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{1,222},{497,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bet_line3_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,240}</string>
                <key>spriteSourceSize</key>
                <string>{497,240}</string>
                <key>textureRect</key>
                <string>{{500,222},{497,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_panel</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2391,219}</string>
                <key>spriteSourceSize</key>
                <string>{2391,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{2391,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_autobet</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,85}</string>
                <key>spriteSourceSize</key>
                <string>{242,85}</string>
                <key>textureRect</key>
                <string>{{491,464},{242,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bank</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{2869,385},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_clear</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{2145,222},{243,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_confirm</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{2233,222},{243,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_off</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{1,464},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_player</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,141}</string>
                <key>spriteSourceSize</key>
                <string>{140,141}</string>
                <key>textureRect</key>
                <string>{{3012,385},{140,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_remove</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{246,464},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tie</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{2720,385},{146,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>reel_frame</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1073,382}</string>
                <key>spriteSourceSize</key>
                <string>{1073,382}</string>
                <key>textureRect</key>
                <string>{{2394,1},{1073,382}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_blue</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,352}</string>
                <key>spriteSourceSize</key>
                <string>{477,352}</string>
                <key>textureRect</key>
                <string>{{999,222},{477,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timer_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{477,352}</string>
                <key>spriteSourceSize</key>
                <string>{477,352}</string>
                <key>textureRect</key>
                <string>{{1478,222},{477,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameElements.png</string>
            <key>size</key>
            <string>{3710,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60762408259e643b516191cd62db3c3a:7a0bb63594059425a7eb2074ee925c63:6da0fac59ce53048721971d1cfdb6dc1$</string>
            <key>textureFileName</key>
            <string>gameElements.png</string>
        </dict>
    </dict>
</plist>
