<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sym_cave</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,295}</string>
                <key>spriteSourceSize</key>
                <string>{431,295}</string>
                <key>textureRect</key>
                <string>{{1,1},{431,295}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_char1_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,226}</string>
                <key>spriteSourceSize</key>
                <string>{241,226}</string>
                <key>textureRect</key>
                <string>{{556,252},{241,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char1_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,227}</string>
                <key>spriteSourceSize</key>
                <string>{240,227}</string>
                <key>textureRect</key>
                <string>{{249,809},{240,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char1_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,226}</string>
                <key>spriteSourceSize</key>
                <string>{240,226}</string>
                <key>textureRect</key>
                <string>{{556,495},{240,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char2_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,223}</string>
                <key>spriteSourceSize</key>
                <string>{239,223}</string>
                <key>textureRect</key>
                <string>{{720,972},{239,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_char2_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,223}</string>
                <key>spriteSourceSize</key>
                <string>{238,223}</string>
                <key>textureRect</key>
                <string>{{461,1183},{238,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_char2_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,218}</string>
                <key>spriteSourceSize</key>
                <string>{237,218}</string>
                <key>textureRect</key>
                <string>{{784,733},{237,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char3_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,234}</string>
                <key>spriteSourceSize</key>
                <string>{241,234}</string>
                <key>textureRect</key>
                <string>{{1,815},{241,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_char3_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,233}</string>
                <key>spriteSourceSize</key>
                <string>{242,233}</string>
                <key>textureRect</key>
                <string>{{1,1051},{242,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char3_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,232}</string>
                <key>spriteSourceSize</key>
                <string>{243,232}</string>
                <key>textureRect</key>
                <string>{{322,298},{243,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char4_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,224}</string>
                <key>spriteSourceSize</key>
                <string>{241,224}</string>
                <key>textureRect</key>
                <string>{{249,566},{241,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char4_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,223}</string>
                <key>spriteSourceSize</key>
                <string>{241,223}</string>
                <key>textureRect</key>
                <string>{{236,1051},{241,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_char4_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,222}</string>
                <key>spriteSourceSize</key>
                <string>{241,222}</string>
                <key>textureRect</key>
                <string>{{478,737},{241,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_clear_green</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,218}</string>
                <key>spriteSourceSize</key>
                <string>{241,218}</string>
                <key>textureRect</key>
                <string>{{784,248},{241,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_clear_red</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,220}</string>
                <key>spriteSourceSize</key>
                <string>{240,220}</string>
                <key>textureRect</key>
                <string>{{478,961},{240,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_clear_yellow</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,218}</string>
                <key>spriteSourceSize</key>
                <string>{240,218}</string>
                <key>textureRect</key>
                <string>{{784,491},{240,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sym_enemy_1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,245}</string>
                <key>spriteSourceSize</key>
                <string>{245,245}</string>
                <key>textureRect</key>
                <string>{{684,1},{245,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_enemy_2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,249}</string>
                <key>spriteSourceSize</key>
                <string>{248,249}</string>
                <key>textureRect</key>
                <string>{{434,1},{248,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_enemy_3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,247}</string>
                <key>spriteSourceSize</key>
                <string>{246,247}</string>
                <key>textureRect</key>
                <string>{{1,566},{246,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sym_temple</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,266}</string>
                <key>spriteSourceSize</key>
                <string>{319,266}</string>
                <key>textureRect</key>
                <string>{{1,298},{319,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>symbols.png</string>
            <key>size</key>
            <string>{1003,1407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c29e24449a3eaf638c4fb0371d36db5:82cdb15b843a743bcd8ac51faa1975ba:2bcb29b8f134a5266afa2a321dc3b770$</string>
            <key>textureFileName</key>
            <string>symbols.png</string>
        </dict>
    </dict>
</plist>
