<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueBrandLogo</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1194,363}</string>
                <key>spriteSourceSize</key>
                <string>{1194,363}</string>
                <key>textureRect</key>
                <string>{{1,1},{1194,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brandLogoBottom</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,336}</string>
                <key>spriteSourceSize</key>
                <string>{173,336}</string>
                <key>textureRect</key>
                <string>{{1370,1},{173,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brandLogoTop</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,354}</string>
                <key>spriteSourceSize</key>
                <string>{171,354}</string>
                <key>textureRect</key>
                <string>{{1197,1},{171,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common_preloader.png</string>
            <key>size</key>
            <string>{1544,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bba5cada7b7bb57561000ab54237b36e:ab1404d3034c4917632b22c495178999:a333cd9fe7186048077ee70ac8cc6378$</string>
            <key>textureFileName</key>
            <string>common_preloader.png</string>
        </dict>
    </dict>
</plist>
